
header {
    
        font-size:29px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
      
        background-color: antiquewhite;
        color:rgb(127, 78, 15);
        position: fixed;
        width: 100%;
        height: 25%;
        opacity: ;
    
        
    }
    
}

float-left {
    style="width: 250px;height:200px;"
}


body {
    background-color: antiquewhite;
    margin:0;

}



img {
    width: 120px;
}


.websitelogo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

/* Styling Navbar */

nav {
    position: fixed;
    top: 150px;
    width: 100%;
    background-color:wheat;
    color: black;
}

.searchcontainer {
    padding-left: 500px;
    font-size: medium;
}

.searchbar {
   padding:50;

}

.hydrangea {
    margin-top:;
    margin-left: 160px;
}

.searchbar h2 {
    margin:0;
}


a {
    color: black;
}

ol {
    width: 90%;
    display: flex;
    justify-content:space-between;
    list-style: none;
}

main {

    padding-top: 150px;
}

.footer-container {
    background-color: rgb(212, 163, 113);
   


   
}

.footer {
    width: 100%;
    background-color: burlywood;
    padding-bottom: 100px;
    color:beige;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;

}

.footer-heading h2 {
    margin-top: -20rem;
    margin-bottom: 2rem;
}

.footer-heading a {
    color:rgb(99, 71, 34);
    text-decoration: none;
    margin-bottom: 0.5rem;

}

.footer-heading a:hover {
    color: blue;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-top: rem;
    
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:rgb(188, 178, 178)14, 96, 96)14, 96, 96)14, 96, 96)14, 96, 96);
    outline: none;
    border: none;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color:rgb(178, 214, 214);
    transition: all 0.4s ease-out

}

@media screen and (max-width: 1150px) {
    .footer {
        height: 5vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}



@media screen and (max-width: 2000px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}